@use "../ui_elements/Toolbar";

.editor-container {
  & {
    padding: 5px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .doc-id-container {
    display: none;
  }

  .editor-toolbar {
    margin-bottom: 0;
  }

  .status-container {
    padding-left: 10px;
  }

  .editor-title {
    width: 100%;
    padding: 3px 12px 5px 12px;
    outline: none;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 32px;
    color: var(--editor-title-color);
  }

  .tiptap {
    overflow-y: auto;
    width: 100%;
    height: 80vh;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    font-weight: 500;
    font-size: 18px;
    border: none;
    text-align: left;
    color: var(--editor-tiptap-color);
  }

  .tiptap .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .tiptap pre {
    background: var(--editor-code-background);
    border-radius: .5rem;
    color: var(--editor-code-color);
    font-family: "JetBrains Mono", monospace;
    margin: 1.5rem 0;
    padding: .75rem 1rem
  }

  ul, ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
      align-items: flex-start;
      display: flex;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        margin-top: 0.35rem;
        user-select: none;
      }

      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
    }

    ul[data-type="taskList"] {
      margin: 0;
    }
  }

  .img {
    max-width: 60%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}