@use "../LightTheme.css";

.editor-container {
  & {
    padding: 5px 0 5px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .doc-id-container {
    display: none;
  }

  .editor-toolbar {
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }

  .editor-toolbar-button-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }

  .editor-toolbar-button {
    background-color: transparent;
    border: none;
  }

  .editor-toolbar-button:hover:not([disabled]) {
    cursor: pointer;
  }

  .editor-toolbar-button span {
    background-color: var(--editor-toolbar-button-background);
    border: 1px solid var(--editor-toolbar-button-border);
    border-radius: 5px;
    color: var(--editor-toolbar-button-color);
    padding: 3px 4px 3px 4px;
    text-align: center;
    margin: 0;
  }

  .editor-toolbar-button:disabled span {
    color: var(--editor-toolbar-button-color-disabled);
    background-color: var(--editor-toolbar-button-background-disabled);
    border: 1px solid var(--editor-toolbar-button-border-disabled);
  }

  .editor-toolbar-button:hover:not([disabled]) span {
    color: var(--editor-toolbar-button-color-hover);
    background-color: var(--editor-toolbar-button-background-hover);
    border: 1px solid var(--editor-toolbar-button-border-hover);
  }

  .status-container {
    padding-left: 10px;
  }

  .title {
    width: 100%;
    padding: 3px 12px 5px 12px;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: var(--editor-title-color);
  }

  .tiptap {
    overflow-y: auto;
    max-height: 500px;
    width: 100%;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border: none;
    text-align: left;
    color: var(--editor-tiptap-color);
  }

  .tiptap .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .tiptap pre {
    background: var(--editor-code-background);
    border-radius: .5rem;
    color: var(--editor-code-color);
    font-family: JetBrainsMono, monospace;
    margin: 1.5rem 0;
    padding: .75rem 1rem
  }

  pre {
    display: block;
  }

  .img {
    max-width: 100%;
    border-radius: 5px;
    display: block;
  }
}