@use "../LightTheme";

.editor-menu {
  & {
    background-color: var(--editor-bubble-menu-background);
    border: 1px solid var(--editor-bubble-menu-border);
    border-radius: 5px;
    display: flex;
    padding: .2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}