@use "../LightTheme";

@media screen and (max-width: 1200px) {
  .editor-page {
    .editor-grid {
      grid-template-columns: 0fr 1fr !important;
    }
  }
}

.editor-page {
  .editor-grid {
    display: grid;
    margin-top: 47px;
    width: 100%;
    transition: 0.4s ease;
  }
}