@use "../LightTheme";

.floating-menu {
  & {
    background-color: var(--editor-floating-menu-background);
    border: 1px solid var(--editor-floating-menu-border);
    border-radius: 5px;
    display: flex;
    padding: .2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  button span {
    padding-top: 2px;
  }

  button {
    background-color: unset;
    border-radius: 5px;
    border: none;
    color: var(--editor-floating-menu-button-color);
    font-family: inherit;
    font-size: .875rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.15;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all .2s cubic-bezier(.65, .05, .36, 1);
    width: 36px;
  }

  button:hover {
    cursor: pointer;
    background: var(--editor-floating-menu-button-background-hover);
    color: var(--editor-floating-menu-button-color-hover);
  }

  .floating-menu-button-is-active {
    background: var(--editor-floating-menu-button-background-hover);
    color: var(--editor-floating-menu-button-color-hover);
  }
}