@use "../LightTheme.css";

.card-container {
  & {
    height: auto;
    width: auto;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  .thumbnail-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
  }

  .thumbnail, .thumbnail-hover {
    width: 100%;
    border-radius: 8px;
    border: var(--thumbnail-border);
    transition: transform .2s;
  }

  .thumbnail-hover {
    transform: scale(1.05);
  }

  .summary-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
  }

  .summary-id {
    display: none;
  }

  .summary-title {
    color: var(--card-title-color);
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 90%;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    //-webkit-mask-image: linear-gradient(180deg, black 0%, transparent);
    //mask-image: linear-gradient(180deg, black 0%, transparent);
  }

  .summary-date, .summary-date-hover {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .summary-date {
    color: var(--card-date-color);
  }

  .summary-date-hover {
    color: var(--card-date-color-hover);
  }
}