@use "../LightTheme.css";

.card-container {
  & {
    height: auto;
    width: auto;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 10px;
  }

  &:hover {
    cursor: pointer;
  }

  .thumbnail-container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
  }

  .thumbnail, .thumbnail-hover {
    width: 100%;
    border-radius: 8px;
    transition: transform .2s;
  }

  .thumbnail {
    border: 1px solid var(--thumbnail-border);
  }

  .thumbnail-hover {
    border: 1px solid var(--thumbnail-border-hover);
    transform: scale(1.05);
  }

  .summary-container {
    height: 100%;
    width: 100%;
    display: block;
    padding: 0 5px 0 5px;
  }

  .document-id {
    display: none;
  }

  .summary-title {
    color: var(--summary-title-color);
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 96%;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    //-webkit-mask-image: linear-gradient(180deg, black 0%, transparent);
    //mask-image: linear-gradient(180deg, black 0%, transparent);
  }

  .summary-date, .summary-date-hover {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    width: 96%;
  }

  .summary-date {
    color: var(--summary-date-color);
  }

  .summary-date-hover {
    color: var(--summary-date-color-hover);
  }
}