@use "SidebarCommon";

.ai-img-container {
  .img-description {
    margin-bottom: 10px;
    resize: none;
    width: 96%;
    height: 50px;
  }

  .img-gen {
    width: 100%;
    border-radius: 8px;
  }
}