@use "../LightTheme.css";

.ai-summary-container {
  & {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
  }

  .title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .action-button {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ai-sidebar-action-button-background);
    border: 1px solid var(--ai-sidebar-action-button-border);
    color: var(--ai-sidebar-action-button-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 6px;
    margin-bottom: 10px;
  }

  .action-button:hover {
    cursor: pointer;
    background-color: var(--ai-sidebar-action-button-background-hover);
    border: 1px solid var(--ai-sidebar-action-button-border-hover);
    color: var(--ai-sidebar-action-button-color-hover);
  }

  .action-button:disabled {
    cursor: auto;
    background-color: var(--ai-sidebar-action-button-background-disabled);
    border: 1px solid var(--ai-sidebar-action-button-border-disabled);
    color: var(--ai-sidebar-action-button-color-disabled);
  }

  .status-container {
    width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }

  .summary-text {
    width: 97%;
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--ai-sidebar-output-background);
    border: 1px solid var(--ai-sidebar-output-border);
    color: 1px solid var(--ai-sidebar-output-color);
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px 5px 5px;
    overflow-y: auto;
  }
}