@use "../LightTheme";
@use "SidebarCommon";

.img-tools-container {
  .img-url {
    margin-bottom: 10px;
    width: 96%;
  }

  .status-container {
    width: 100%;
    padding-left: 0;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }
}