@use "../LightTheme";
@use "SidebarCommon";

.recent-note-container {
  & {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px 1px 7px 10px;
    display: flex;
    align-items: center;
    background-color: var(--recent-note-background);
    border: 1px solid var(--recent-note-border);
    border-radius: 8px;
  }

  &:hover {
    background-color: var(--recent-note-background-hover);
    border: 1px solid var(--recent-note-border-hover);
    cursor: pointer;
  }

  .thumbnail-container {
    width: 50%;
    margin-right: 10px;
  }

  .thumbnail, .thumbnail-hover {
    width: 100%;
    border-radius: 8px;
  }

  .thumbnail {
    border: 1px solid var(--thumbnail-border);
  }

  .thumbnail-hover {
    border: 1px solid var(--thumbnail-border-hover);
  }

  .summary-container {
    width: 45%;
  }

  .doc-id {
    display: none;
  }

  .summary-title {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: var(--summary-title-color);
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
  }

  .summary-date, .summary-date-hover {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .summary-date {
    color: var(--summary-date-color);
  }

  .summary-date-hover {
    color: var(--summary-date-color-hover);
  }
}