@use "SidebarCommon";

.qa-container {
  .question {
    margin-bottom: 10px;
    resize: none;
    width: 96%;
    height: 50px;
  }

  .qa-context {
    width: calc(100% - 10px);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .qa-text {
    width: calc(100% - 10px);
    background-color: var(--sidebar-output-background);
    border: 1px solid var(--sidebar-output-border);
    color: var(--sidebar-output-color);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin-top: 5px;
  }
}