@use "../ui_elements/TextInput";
@use "../ui_elements/Toolbar";

@media screen and (min-width: 800px) {
  .home-page {
    .toolbar-container {
      grid-template-columns: 4fr 1fr;
    }

    .search-input {
      width: 50%;
    }
  }
}

@media screen and (max-width: 800px) {
  .home-page {
    .toolbar-container {
      grid-template-columns: 1fr;
    }

    .search-input {
      width: 100%;
    }
  }
}

.home-page {
  & {
    width: 100%;
    height: auto;
  }

  .home-container {
    margin-top: 60px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .toolbar-container {
    display: grid;
    width: 100%;
  }

  .toolbar {
    display: flex;
    align-items: center;
  }

  .toolbar-button {
    margin-right: 10px;
  }

  .status-container {
    width: 100%;
    padding: 5px 10px;
  }
}