@media screen and (min-width: 800px) {
  .page-nav {
    justify-content: right;
  }
}

@media screen and (max-width: 800px) {
  .page-nav {
    justify-content: center;
  }
}

.page-nav {
  & {
    width: 100%;
    padding: 5px 12px 5px 12px;
    display: inline-flex;
    align-items: center;
  }

  .page-nav-button {
    background-color: var(--page-nav-button-background);
    border: 1px solid var(--page-nav-button-border);
    color: var(--page-nav-button-color);
  }

  .page-nav-button:disabled {
    color: var(--page-nav-button-color-disabled);
  }

  .page-nav-button:hover:not([disabled]) {
    cursor: pointer;
    color: var(--page-nav-button-color-hover);
  }

  .page-nav-button span {
    padding: 3px 4px 3px 4px;
    text-align: center;
    margin: 0;
  }

  .page {
    padding: 2px 0 3px;
    margin: 0;
    color: var(--page-nav-button-color-hover);
  }
}