@media screen and (min-width: 800px) {
  .home-page {
    .toolbar {
      grid-template-columns: 3fr 1fr;
    }

    .page-navigator {
      justify-content: right;
    }
  }
}

@media screen and (max-width: 800px) {
  .home-page {
    .toolbar {
      grid-template-columns: 1fr;
    }

    .page-navigator {
      justify-content: left;
    }
  }
}

.home-page {
  & {
    width: 100%;
    height: auto;
  }

  .home-container {
    margin-top: 60px;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .toolbar {
    display: grid;
    width: 100%;
  }

  .toolbar-button-container {
    padding: 5px 12px 5px 12px;
    display: inline-flex;
  }

  .page-navigator {
    padding: 5px 12px 5px 12px;
    display: inline-flex;
    align-items: center;
  }

  .page {
    padding: 0 0 3px;
    margin: 0 10px 0 0;
  }

  .toolbar-button {
    margin-right: 10px;
    background-color: var(--editor-toolbar-button-background);
    border: 1px solid var(--editor-toolbar-button-border);
    border-radius: 5px;
    color: var(--editor-toolbar-button-color);
    padding: 3px 4px 0 4px;
  }

  .toolbar-button:disabled {
    color: var(--editor-toolbar-button-color-disabled);
    background-color: var(--editor-toolbar-button-background-disabled);
    border: 1px solid var(--editor-toolbar-button-border-disabled);
  }

  .toolbar-button:hover:not([disabled]) {
    cursor: pointer;
    color: var(--editor-toolbar-button-color-hover);
    background-color: var(--editor-toolbar-button-background-hover);
    border: 1px solid var(--editor-toolbar-button-border-hover);
  }

  .status-container {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
}