:root {
    --nav-background: transparent;
    --nav-link-color: #616161;
    --nav-div-color-hover: black;
    --title-nav-link-color: black;

    --background: white;

    --thumbnail-border: 1px solid #eeeeee;
    --card-title-color: black;
    --card-date-color: #9E9E9E;
    --card-date-color-hover: #616161;
    --card-width: 360px;

    --sidebar-toolbar-button-background: transparent;
    --sidebar-toolbar-button-border: transparent;
    --sidebar-toolbar-button-color: #616161;
    --sidebar-toolbar-button-background-disabled: transparent;
    --sidebar-toolbar-button-border-disabled: transparent;
    --sidebar-toolbar-button-color-disabled: #9e9e9e;
    --sidebar-toolbar-button-background-hover: #eeeeee;
    --sidebar-toolbar-button-border-hover: #eeeeee;
    --sidebar-toolbar-button-color-hover: #424242;

    --editor-toolbar-button-background: transparent;
    --editor-toolbar-button-border: transparent;
    --editor-toolbar-button-color: #616161;
    --editor-toolbar-button-background-disabled: transparent;
    --editor-toolbar-button-border-disabled: transparent;
    --editor-toolbar-button-color-disabled: #9e9e9e;
    --editor-toolbar-button-background-hover: #eeeeee;
    --editor-toolbar-button-border-hover: #eeeeee;
    --editor-toolbar-button-color-hover: #424242;
    --editor-date-color: #616161;
    --editor-title-color: black;
    --editor-bubble-menu-background: rgba(245, 245, 245, 0.7);
    --editor-bubble-menu-border: rgba(61, 37, 20, .05);
    --editor-bubble-menu-shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04);
    --editor-bubble-menu-button-color: black;
    --editor-bubble-menu-button-background-hover: black;
    --editor-bubble-menu-button-color-hover: white;
    --editor-tiptap-color: black;
    --editor-disable-panel-background: rgba(100, 100, 100, 0.7);

    --auth-form-input-background: transparent;
    --auth-form-input-border: #bdbdbd;
    --auth-form-input-color: #212121;
    --auth-form-input-outline: #4FC3F7;
    --auth-form-primary-button-background: #1976D2;
    --auth-form-primary-button-border: #1976D2;
    --auth-form-primary-button-color: white;
    --auth-form-secondary-button-background: black;
    --auth-form-secondary-button-border: black;
    --auth-form-secondary-button-color: white;
    --auth-form-primary-button-background-hover: #1565C0;
    --auth-form-primary-button-border-hover: #1565C0;
    --auth-form-primary-button-color-hover: white;
    --valid-input-color: #009a4f;
    --error-input-color: #fd0031;
    --pending-input-color: #9e9e9e;

    --settings-field-label: black;
    --settings-field-content: #9e9e9e;
    --settings-field-button-background: transparent;
    --settings-field-button-border: #9e9e9e;
    --settings-field-button-color: black;
    --settings-field-button-background-hover: black;
    --settings-field-button-border-hover: black;
    --settings-field-button-color-hover: white;
    --settings-sign-out-button-background: #e40006;
    --settings-sign-out-button-border: #e40006;
    --settings-sign-out-button-color: white;
    --settings-sign-out-button-background-hover: #cb0005;
    --settings-sign-out-button-border-hover: #cb0005;
    --settings-sign-out-button-color-hover: white;

    --ai-summary-text-box-background: transparent;
    --ai-summary-text-box-border: transparent;
    --ai-summary-text-box-color: black;
    --ai-summary-action-button-background: rgba(200, 200, 200, 0.7);
    --ai-summary-action-button-border: rgba(200, 200, 200, 0.7);
    --ai-summary-action-button-color: black;
    --ai-summary-action-button-background-hover: black;
    --ai-summary-action-button-border-hover: black;
    --ai-summary-action-button-color-hover: white;
    --ai-summary-action-button-background-disabled: #e0e0e0;
    --ai-summary-action-button-border-disabled: #e0e0e0;
    --ai-summary-action-button-color-disabled: #9e9e9e;
}