:root {
    --background: #fafafa;
    --nav-background: transparent;
    --nav-link-color: #616161;
    --nav-div-color-hover: black;
    --title-nav-link-color: black;

    --thumbnail-border: #e0e0e0;
    --thumbnail-border-hover: #bdbdbd;
    --summary-title-color: black;
    --summary-date-color: #9E9E9E;
    --summary-date-color-hover: #616161;
    --card-width: 360px;

    --recent-note-background: transparent;
    --recent-note-border: transparent;
    --recent-note-background-hover: #eeeeee;
    --recent-note-border-hover: #eeeeee;

    --sidebar-toolbar-button-background: transparent;
    --sidebar-toolbar-button-border: transparent;
    --sidebar-toolbar-button-color: #616161;
    --sidebar-toolbar-button-background-disabled: transparent;
    --sidebar-toolbar-button-border-disabled: transparent;
    --sidebar-toolbar-button-color-disabled: #9e9e9e;
    --sidebar-toolbar-button-background-hover: black;
    --sidebar-toolbar-button-border-hover: black;
    --sidebar-toolbar-button-color-hover: white;

    --editor-toolbar-button-background: transparent;
    --editor-toolbar-button-border: transparent;
    --editor-toolbar-button-color: #616161;
    --editor-toolbar-button-background-disabled: transparent;
    --editor-toolbar-button-border-disabled: transparent;
    --editor-toolbar-button-color-disabled: #9e9e9e;
    --editor-toolbar-button-background-hover: black;
    --editor-toolbar-button-border-hover: black;
    --editor-toolbar-button-color-hover: white;
    --editor-date-color: #616161;
    --editor-title-color: black;
    --editor-code-background: black;
    --editor-code-color: white;
    --editor-bubble-menu-background: rgba(245, 245, 245, 0.5);
    --editor-bubble-menu-border: rgba(61, 37, 20, .05);
    --editor-bubble-menu-shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04);
    --editor-bubble-menu-button-color: black;
    --editor-bubble-menu-button-background-hover: black;
    --editor-bubble-menu-button-color-hover: white;
    --editor-floating-menu-background: rgba(245, 245, 245, 0.5);
    --editor-floating-menu-border: rgba(61, 37, 20, .05);
    --editor-floating-menu-shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04);
    --editor-floating-menu-button-color: black;
    --editor-floating-menu-button-background-hover: black;
    --editor-floating-menu-button-color-hover: white;
    --editor-tiptap-color: black;

    --text-input-background: transparent;
    --text-input-border: #bdbdbd;
    --text-input-shadow: #e0e0e0;
    --text-input-color: black;
    --text-input-outline: #4FC3F7;

    --auth-primary-button-background: black;
    --auth-primary-button-border: black;
    --auth-primary-button-color: white;
    --auth-primary-button-shadow: rgba(0, 0, 0, 0.3);
    --auth-secondary-button-background: transparent;
    --auth-secondary-button-border: transparent;
    --auth-secondary-button-color: black;
    --auth-primary-button-background-hover: black;
    --auth-primary-button-border-hover: black;
    --auth-primary-button-color-hover: white;
    --auth-secondary-button-background-hover: #bdbdbd;
    --auth-secondary-button-border-hover: #bdbdbd;
    --auth-secondary-button-color-hover: black;
    --auth-secondary-button-shadow: rgba(100, 100, 100, 0.3);

    --valid-input-color: #009a4f;
    --error-input-color: #fd0031;
    --pending-input-color: #9e9e9e;

    --settings-field-label: black;
    --settings-field-content: #9e9e9e;
    --settings-field-button-background: transparent;
    --settings-field-button-border: #9e9e9e;
    --settings-field-button-color: black;
    --settings-field-button-background-hover: black;
    --settings-field-button-border-hover: black;
    --settings-field-button-color-hover: white;
    --settings-sign-out-button-background: #e40006;
    --settings-sign-out-button-border: #e40006;
    --settings-sign-out-button-color: white;
    --settings-sign-out-button-background-hover: #cb0005;
    --settings-sign-out-button-border-hover: #cb0005;
    --settings-sign-out-button-color-hover: white;

    --sidebar-output-background: transparent;
    --sidebar-output-border: transparent;
    --sidebar-output-color: black;
    --sidebar-action-button-background: rgba(220, 220, 220);
    --sidebar-action-button-border: rgba(220, 220, 220);
    --sidebar-action-button-color: black;
    --sidebar-action-button-background-hover: black;
    --sidebar-action-button-border-hover: black;
    --sidebar-action-button-color-hover: white;
    --sidebar-action-button-background-disabled: #e0e0e0;
    --sidebar-action-button-border-disabled: #e0e0e0;
    --sidebar-action-button-color-disabled: #9e9e9e;
}